body {}
#wrap {}
/* ===================================================== */
#wrap #fab {}
#wrap #fab a {
    position: fixed;
    z-index: 999;
    right:50px; 
    display: flex;
    justify-content: center;
    background-color: #fff;
    width:45px; height:45px;
    padding: 12px; border-radius: 50%;
    border:1px solid #e9e9e9;
}
#wrap #fab a img {width:100%;}
#wrap #fab .mypage_btn {
    bottom:100px;
}
#wrap #fab .mypage_btn img {width:100%;}
#wrap #fab .up_btn {
    bottom:50px;
}
#wrap #fab .up_btn img {}
/* ===================================================== e.fab */
#wrap #top_bnr {
    background-color: #222;
    height:40px;
    padding: 0 60px;
    /* text-align: center; */
    display: flex; flex-flow: row nowrap;
    align-items: center;
}
#wrap #top_bnr * {color: #ddd;}
#wrap #top_bnr a {margin: 0 auto; font-size: 0.88rem;}
#wrap #top_bnr a img {filter: invert();}
#wrap #top_bnr .close_btn {}
#wrap #top_bnr .close_btn img {filter: invert();}
#wrap #top_bnr a img,
#wrap #top_bnr .close_btn img {
    position: relative;
    top:3px;
}
/* ===================================================== e. 띠배너 */
/* ===================================================== 헤더 공통*/
#wrap header > h1 a img,
#wrap header .user_menu li a img {filter:invert(100);}
#wrap header nav #gnb > li > a,
#wrap header .user_menu li .lang
{color:#fff; font-size: 0.94rem;}
/* 구분선 */
#wrap header nav #gnb > li span,
#wrap header .user_menu li > span {
    width:1px; height:10px;
    background-color: #fff;
    display: block;
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_left > li > a,
#wrap header nav #gnb > li .lnb_bg .lnb_depth_right .lnb_depth2 > li > a {
    font-weight: 700;
    font-size: 0.88rem;
    display: block;
    margin-bottom: 20px;
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_left > li .lnb_depth3 li a,
#wrap header nav #gnb > li .lnb_bg .lnb_depth_right .lnb_depth2 > li .lnb_depth3 li a {
    font-size: 0.94rem;}

/* ===================================================== 헤더 호버*/
#wrap header:hover {background-color: #fff;}
#wrap header:hover > h1 a img {filter:invert(0);}
#wrap header:hover .user_menu li img {filter:invert(0);}
#wrap header:hover nav #gnb > li > a {color:#000;}
#wrap header:hover .user_menu li .lang {color:#000;}
#wrap header:hover nav #gnb > li span {background-color: #999;}
#wrap header:hover .user_menu li > span {background-color: #999;}
/* ===================================================== 헤더 개별*/
#wrap header {
    /* overflow: hidden; */
    /* position:relative; */
    background-color: turquoise;
    padding: 0 70px;
    height: 80px;
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap:60px;
    position: relative;
}
#wrap header > h1,
#wrap header nav #gnb > li,
#wrap header .user_menu li {}
#wrap header > h1 {}
#wrap header > h1 a {width: 111px; height:20px; display: block;}
/* logo */
#wrap header > h1 a img {width: 100%;} 
#wrap header nav {margin-right: auto;}
#wrap header nav #gnb {
    display: flex; flex-flow: row nowrap;
    gap: 30px;
    align-items: center;
}
#wrap header nav #gnb > li {}
#wrap header nav #gnb > li > a {
    font-size: 0.94rem;
    font-weight: 700;
}
#wrap header nav #gnb > li span {}
/* ============================================== s. lnb */
#wrap header nav #gnb > li .lnb_bg {
    position:absolute; left:0; top:100%;
    background-color:#fff;
    width:100%;
    padding: 45px 70px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
#wrap header nav #gnb > li .lnb_bg h1 {
    font-size: 2rem;
    font-weight: 700;
    width: 18%;
    background-color: thistle;
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_left {
    background-color: yellow;
    display: flex; flex-flow: row wrap;
    justify-content: flex-start;
    width: 45%;
    gap:0 60px;
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_left > li {margin-bottom: 35px;}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_left > li:nth-child(1) {}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_left > li:nth-child(2) {}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_left > li:nth-child(3) {}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_left > li:nth-child(4) {margin-right: 200px;}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_left > li:nth-child(5) {margin: 0;}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_left > li > a {}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_left > li .lnb_depth3 {}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_left > li .lnb_depth3 li {
    margin-bottom: 15px;
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_left > li .lnb_depth3 li a {}
/* e. ===================================================== lnb_left */
#wrap header nav #gnb > li .lnb_bg .lnb_depth_right {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    background-color: pink;
    /* position:absolute; right:60px; */
    width: 37%;
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_right .lnb_depth2 {
    padding-left: 40px;
    width:30%;
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_right .lnb_depth2 > li {
    padding-right: 40px;
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_right .lnb_depth2 > li > a {}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_right .lnb_depth2 > li .lnb_depth3 {}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_right .lnb_depth2 > li .lnb_depth3 li {
    margin-bottom: 10px;
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_right .lnb_depth2 > li .lnb_depth3 li a {}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_right .lnb_depth2_img {
    display: flex; flex-flow: row nowrap;
    width:70%;
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_right .lnb_depth2_img a {}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_right .lnb_depth2_img a:first-child {margin-right: 10px;}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_right .lnb_depth2_img a img {
    width:100%;
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth_right .lnb_depth2_img a .iconic {
    margin-top: 10px;
}
/* ========================================================= e.nav */
/* ========================================================= user_menu 공통 */
#wrap header .user_menu {
    display: flex; flex-flow: row nowrap;
    gap:15px;
    align-items: center;
}
/* ========================================================= user_menu 개별 */
#wrap header .user_menu li {}
#wrap header .user_menu li:nth-child(4),
#wrap header .user_menu li:nth-child(5),
#wrap header .user_menu li:nth-child(6),
#wrap header .user_menu li:nth-child(7) {
    position: relative;
    top:5px;
}
#wrap header .user_menu li a {}
#wrap header .user_menu li a img {}
#wrap header .user_menu li > span {}
#wrap header .user_menu li .lang {color:#fff;}
#wrap header .user_menu li .active {font-weight: 700;}
#wrap header .user_menu li:nth-child(3) {margin-right: 10px;}
#wrap header .user_menu li .search {}
#wrap header .user_menu li .search img {}
/* ===================================================== 검색창 클릭 시 나오는 검색창 박스 */
#wrap header .user_menu li .search_wrap {
    display: none;
    /* background-color: whitesmoke;
    margin: 0 auto;
    position:absolute; left:0; top:100%;
    width:100%; */
}
#wrap header .user_menu li .search_wrap .search_container {}
#wrap header .user_menu li .search_wrap .search_container .search_box {}
#wrap header .user_menu li .search_wrap .search_container .search_btn {}
#wrap header .user_menu li .search_wrap .search_container .search_btn img {}
#wrap header .user_menu li .search_wrap .recent_search {}
#wrap header .user_menu li .search_wrap .recent_search h1 {}
#wrap header .user_menu li .search_wrap .recent_search .clear_btn {}
/* ===================================================== e.검색창 박스 */
#wrap header .user_menu li .search_wrap .keywords {}
#wrap header .user_menu li .search_wrap .keywords a {}
#wrap header .user_menu li .search_wrap .keywords a em {}
#wrap header .user_menu li .search_wrap .keywords a img {}
#wrap header .user_menu li .store {}
#wrap header .user_menu li .store img {}
#wrap header .user_menu li .login {}
#wrap header .user_menu li .login img {}
#wrap header .user_menu li .cart {
    position: relative;
}
#wrap header .user_menu li .cart img {}
#wrap header .user_menu li .cart .cart_count {
    position: absolute;
    right: -3px; bottom: -3px;
    background-color: #FF781E;
    border-radius: 50%;
    width:16px; height: 16px;
    text-align: center;
    padding:2px;
    font-size: 0.75rem;
    font-weight: 700;
    color:#fff;
    
} /* 장바구니 등록 시 숫자 카운트 */
/* ===================================================== e.header */
/* ===================================================== s.footer */
#wrap footer {}
#wrap footer #f_top {}
#wrap footer #f_top #f_lf_corp {}
#wrap footer #f_top #f_lf_corp p {}
#wrap footer #f_top #f_lf_corp address {}
#wrap footer #f_top #fnb {}
#wrap footer #f_top #fnb dt {}
#wrap footer #f_top #fnb dd {}
#wrap footer #f_top #fnb dd a {}
#wrap footer #f_top #fnb dd a span {}
#wrap footer #f_top #fnb dd .country {}
#wrap footer #f_top #fnb dd .country_list {}
#wrap footer #f_top #fnb dd .country_list a {}
#wrap footer #f_btm {}
#wrap footer #f_btm img {}
#wrap footer #f_btm .fnb_link {}
#wrap footer #f_btm img .fnb_link a {}
#wrap footer #f_btm img .fnb_link a img {}